

html {
    overflow: scroll;
}
/*gradient background*/
body {
    
    background: rgb(14,118,69);
    background: linear-gradient(90deg, rgba(14,118,69,1) 0%, rgba(197,157,49,1) 68%, rgba(0,212,255,1) 100%); 
	background-size: 400% 400%;
	animation: gradient 150s ease infinite;
	height: 100vh;

}

@keyframes gradient {
    0% {
        background-position-x: 0%;
        background-position-y: 0%;
    }
    50% {
        background-position-x: 100%;
        background-position-y: 100%;
    }
    100% {
        background-position-x: 0%;
        background-position-y: 0%;
    }
}




/* Point used for testing */
.point {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}


/*moving boxes*/
.movingBox {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 2px solid white;
}



/* Main Heading and Sub Heading */
.highlight {
    color: white;
    font-size: 4vh;
    line-height: 1;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
}

.mainHeadingParent {
    position: absolute;

    
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 30%;
}

.mainHeading {
    position: absolute;
    top: 3%;
    left: 50%;
    width: 48%;
    height: 94%;
    transform: translate(-50%);
    text-align: center;
    font-size: 700%;
    font-weight: bold;  
    color: white;
    line-height: 0.9;
    font-family: 'Times New Roman', Times, serif;

}



.mainHeadingCoverBox {
    position: absolute;
    margin-bottom: 0;
    left: 50%;
    width: 55%;
    transform: translate(-50%);
    height: 80%;
    opacity: 0.4;
    border-radius: 50px;
    background-color: black;
    z-index: -1;
}

.subHeadingParent {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 35vh;
}
.subHeading {
    position: absolute;
    top: 0%;
    left: 50%;
    height: 35vh;
    text-align: center;
    transform: translate(-50%);
    font-size: calc((1.5vh + 1.5vw));
    color: white;
    line-height: 1; 
    font-family: 'roboto', sans-serif;
    opacity: 1;
    z-index: 2;
}


.subHeadingCoverBox {
    display: inline-block;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    width: 55%;
    height: 100%;
    opacity: 0.4;
    border-radius: 30px;    

    background-color: black;
    z-index: 1;
}